---
import { LoginForm } from '@/components/LoginForm';
import Layout from '../layouts/Layout.astro';
import Dialog from '@/components/Dialog_2.astro';
---

<Layout title='E-Social'>
	<Dialog title="Error"/>
	<div class="min-h-screen bg-cover bg-home flex justify-center sm:p-10">
		<main class="grid grid-cols-1 lg:grid-cols-2 lg:w-auto w-[420px] max-h-[720px] md:max-h-[900px] m-8 shadow-xl rounded-md overflow-hidden"> 
			<div class="hidden lg:block ">
				<div id="left-top" class="h-full flex flex-col justify-center items-center gap-8 px-10">
					<img src="/esocial-white.svg" alt="logo" class="w-16 h-16 md:w-64 md:h-64 animate-breathe"/>
					<h2 class="text-center text-white text-4xl font-['Poppins']">Bienvenido a</h2>
					<div class="text-white font-extrabold text-4xl px-8 py-4 border border-white rounded-xl">
						<h1 > E-Social </h1>
					</div>
					<h2 class="text-center text-white text-xl md:text-4xl font-['Poppins'] "> una red social innovadora</h2> 
				</div>
			</div>
			<div class="relative w-full flex justify-center items-center bg-white text-center"> 
				<LoginForm client:load/>
			</div>
		</main>
	</div>
	
</Layout>

<style>
	.bg-home{
		background-image: url('home2.jpg');
	}

	#left-top{
		background-color: transparent;
		backdrop-filter: blur(20px);
		background-image: linear-gradient(140deg, rgba(0, 195, 255, 0.368), rgba(255, 255, 255, 0.253));
	}

</style>





