---
import Layout from '../layouts/Layout.astro';
import userIcon from '@/assets/icons/user.svg';
import Dialog from '@/components/Dialog_2.astro';
---

<Layout title='E-Social'>
	<Dialog title="Error"/>
	<div class="min-h-screen bg-cover bg-home flex justify-center sm:p-10">
		<main class="grid grid-cols-1 lg:grid-cols-2 lg:w-auto w-[420px] max-h-[720px] md:max-h-[900px] m-8 shadow-xl rounded-md overflow-hidden"> 
			<div class="hidden lg:block ">
				<div id="left-top" class="h-full flex flex-col justify-center items-center gap-8 px-10">
					<img src="/esocial-white.svg" alt="logo" class="w-16 h-16 md:w-64 md:h-64 animate-breathe"/>
					<h2 class="text-center text-white text-4xl font-['Poppins']">Bienvenido a</h2>
					<div class="text-white font-extrabold text-4xl px-8 py-4 border border-white rounded-xl">
						<h1 > E-Social </h1>
					</div>
					<h2 class="text-center text-white text-xl md:text-4xl font-['Poppins'] "> una red social innovadora</h2> 
				</div>
			</div>
			<div class="relative w-full flex justify-center items-center bg-white text-center"> 
				<form id="signin-form" action="/api/auth/register" method="post" 
					class=" w-full flex flex-col items-center p-5 ease-in-out duration-700">
					<h2 class="mb-10 font-bold text-4xl text-sky-800 landscape:pt-10">Iniciar Sesión</h2>
					<p class="mb-2 font-bold text-xl text-sky-400">Crea tu usuario</p>
					<div class="bg-slate-200 rounded-3xl mb-5">
						<div class="flex gap-2 justify-between items-center p-2">
							<img class="w-6 h-6 rounded-full" src={userIcon.src}>
							<input id="email-in" type="text" name="email" placeholder="Usuario">
						</div>
					</div>
					<p class="landscape:mb-10 mb-20 font-bold text-sm text-gray-400">
						Si ya tienes un usuario, <br/> puedes usarlo para iniciar sesion
					</p>
					<p class="text-xs text-red-400 hidden" data-wrong></p>
					<button class="w-36 h-12 rounded-3xl cursor-pointer bg-sky-300 text-white uppercase 
						font-semibold mt-5 mb-5 duration-500 hover:bg-sky-700" type="submit" >
						entrar
					</button>
					<label class="flex gap-2 px-5 text-xs max-w-72" for="terminos">
						<p>Al entrar a la plataforma acepto que he leído y estoy de acuerdo con el 
						<a  href="/terms" class="text-sky-800 italic underline hover:cursor-pointer">consentimiento informado</a></p>
					</label>
				</form>
			</div>
		</main>
	</div>
	
</Layout>

<style>
	.bg-home{
		background-image: url('home2.jpg');
	}

	input{
		outline: none;
		background: none;
		border: none;
		line-height: 1;
		font-weight: 600;
		font-size: 1.1rem;
		color: #7e7e7e;
		padding-right: 10px;
	}

	input::placeholder{
		color: #aaa;
		font-weight: 400;
		font-size: .85rem;
		padding-bottom: 15px;
	}

	#left-top{
		background-color: transparent;
		backdrop-filter: blur(20px);
		background-image: linear-gradient(140deg, rgba(0, 195, 255, 0.368), rgba(255, 255, 255, 0.253));
	}

</style>

<script>

	import { setDialog } from "@/lib/store";

	const signinButton = document.getElementById("signin-button");
	const signinForm = document.getElementById("signin-form");
	const errorP = document.querySelector("[data-wrong]") as HTMLParagraphElement;

	signinButton?.addEventListener("click", () => {
		signinForm?.classList.remove('opacity-0');
		signinForm?.classList.remove('-z-10');
	});

	signinForm?.addEventListener("submit", async (e) => {
		e.preventDefault();

		const form = e?.currentTarget as HTMLFormElement;

		const res = await fetch(form.action, {
			method: form.method,
			body: new FormData(form)
		});

		const json = await res.json();

		if(json.status === 500){
			setDialog(true);
			return
		}

		const resSignIn = await fetch("/api/auth/signin", {
			method: form.method,
			body: new FormData(form)
		});

        if(!resSignIn.ok){
			if(errorP){
				errorP.classList.remove("hidden");
				errorP.innerHTML = (await resSignIn.json()).message;
			}
			return
		}

		window.location.href = resSignIn.url;

	})



</script>




