<div class="w-screen h-screen flex justify-center items-center bg-home bg-cover">
    <div class="text-center bg-white rounded-lg shadow-md shadow-black p-4">
        <h1 class="text-3xl font-semibold">La siguiente seccion esta en construccion, <br/> disculpa las molestias.</h1>
    </div>
</div>