---
import Layout from "@/layouts/Layout.astro"
import Dialog from "@/components/Dialog.astro";
import { FormProfile } from "@/components/FormProfile";

import { supabase } from "../lib/supabase";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/");
}

const { error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/");
}

---

<Layout title="Completa tu perfil">
    <Dialog title="Eror" message="Por favor completa todos los campos" />
    <div class="h-full flex justify-center items-center md:items-start p-8">
        <div class="flex flex-col justify-center items-center gap-8 pb-8">
            <h1 class="text-4xl font-bold text-center mt-4 md:mt-16">Completa tu perfil</h1>
            <div class="w-[320px] bg-white rounded-xl m-5 pt-2 pb-6 px-8 border border-black">                         
                <div id="form-outer" class="w-full overflow-hidden">
                    <h1 class="text-xl font-bold mb-4 text-center">Información personal</h1>
                    <FormProfile client:load/>
                </div>
            </div>
        </div>
        
    </div>
</Layout>
