---
import { FormSurvey } from "@/components/FormSurvey"
import Layout from "../layouts/Layout.astro"
import MainNav from "@/components/MainNav.astro"
import { MFQ_QUESTIONS_PART_1} from "@/lib/data"
import Dialog from "@/components/Dialog.astro"
import { supabase } from "@/lib/supabase"

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/");
}

---

<Layout title="Parte tres - A"> 
    <MainNav />
    <main class="flex items-center">
        <Dialog title="Error" message="Por favor responde todas las preguntas antes de continuar."/>
        <FormSurvey questions={MFQ_QUESTIONS_PART_1} type={"MFQ_1"} client:only="react"/>
    </main>
</Layout>

