---
import { FormSurvey } from "@/components/FormSurvey"
import Layout from "../layouts/Layout.astro"
import MainNav from "@/components/MainNav.astro"
import { MFQ_QUESTIONS_PART_2} from "@/lib/data"
import Dialog from "@/components/Dialog.astro"
import { supabase } from "@/lib/supabase"
import Footer from "@/components/Footer.astro"
import "@/styles/global.css";
import { ProgressBar } from "@/components/ProgressBar"

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/");
}

---

<Layout title="Parte 04">
    <MainNav />
    <main class="flex flex-col items-center">
      <Dialog />
      <ProgressBar client:only="react"  />
      <FormSurvey questions={MFQ_QUESTIONS_PART_2} type={"MFQ_2"} client:only="react"/>
    </main>
    <Footer />
</Layout>

<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1022917416408691');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1022917416408691&ev=PageView&noscript=1"
/></noscript>

