---
import Layout from "../layouts/Layout.astro"
import FormSurvey from "@/components/test"
---

<Layout title="test">
  <main class="bg-slate-200 grid grid-cols-1 grid-rows-[0.1fr_1fr] p-4 h-full gap-4">
    <FormSurvey client:load/>
  </main>
</Layout>
