---
import like from '@/assets/reactions/like.png'
import dislike from '@/assets/reactions/dislike.png'
import share from '@/assets/reactions/share.png'

import { Image } from 'astro:assets'
---

<div class="flex justify-center justify-items-center gap-8">
    <picture>
        <Image src={like} alt="like"  class="object-cover h-12 w-auto hover:scale-150 ease-in-out duration-300"/>
    </picture>
    <picture>
        <Image src={dislike} alt="dislike"  class="object-cover h-12 w-auto hover:scale-150 ease-in-out duration-300"/>
    </picture>
    <picture>
        <Image src={share} alt="share"  class="object-cover h-12 w-auto hover:scale-150 ease-in-out duration-300"/>
    </picture>
</div>