---
---

<div class="absolute m-auto left-0 rounded-3xl bg-[#5f5f5f4d]  z-10 h-full w-full justify-center items-center hidden" data-is-open="false">
    <div class="text-center absolute m-auto p-4 bg-white border rounded-3xl w-96">
        <h1 id="title" class="text-xl p-1"></h1>
        <p id="message" class="p-3"></p>
        <button class="w-36 h-12 rounded-3xl cursor-pointer bg-sky-300 text-white uppercase 
            font-semibold mt-5 mb-5 duration-500 hover:bg-sky-700" data-button>OK</button>
    </div>
</div>

<script>
    import { dialogData, isDialogOpen } from "@/store/store";
    const dialog = document.querySelector("[data-is-open]");
    const button = document.querySelector("[data-button]");
    const titleH1 = document.getElementById("title") as HTMLHeadingElement;
    const messageP = document.getElementById("message") as HTMLParagraphElement;

    button?.addEventListener("click", () => {
        isDialogOpen.set(false);
    })

    dialogData.subscribe(data => {
        const {title, message} = data;
        titleH1.innerHTML = title;
        messageP.innerHTML = message;
    })

    isDialogOpen.subscribe(value => {
        if(value){
            dialog!.classList.remove("hidden");
            dialog!.classList.add("flex");

        }else{
            dialog!.classList.add("hidden");
            dialog!.classList.remove("flex");
        }
    })
</script>