---

import { Image } from 'astro:assets'
import Logo from '@/assets/icons/esocial.svg'
---

<nav class="w-full flex justify-between items-center bg-white px-8 py-4 sticky">
    <div class="flex flex-col md:flex-row md:gap-4 justify-center items-center px-2">
        <Image src={Logo} alt="logo" class="h-16 w-16 rounded-full bg-white"/>
        <h1 class="text-sm md:text-xl font-semibold">E-Social</h1>
    </div>
    <button id="logout" class="text-xl font-semibold hover:scale-125 transition-transform">Cerrar Sesión</button>
</nav>

<script>
    const logoutButton = document.getElementById("logout") as HTMLButtonElement;

    const handleLogOut = async () => {
        if(!logoutButton) return;
        const res = await fetch('/api/auth/signout', 
        {
            method: "GET"
        });


        window.location.href = res.url;
    }

    logoutButton.addEventListener("click", handleLogOut);
</script>