---
---

<div id="progress" class="hidden lg:flex lg:flex-col items-center gap-4 w-full max-h-[600px] sm:max-h-[720px] lg:max-h-[900px]">
  <div class="w-full h-full bg-white rounded-3xl flex flex-col items-center pt-16 px-8">
    <h1 class="text-2xl font-extrabold font-[Poppins] text-sky-800">Progreso</h1>   
    <div class="w-48 h-48 rounded-full circle mt-28 p-4 grid place-content-center">
      <span id="percentage" class="z-20 text-white text-2xl"></span>
    </div>
    <h1 id="stimuli-left" class="text-sky-800 font-[Poppins] font-bold text-2xl mt-8 text-center"></h1>
  </div>
</div>
 
<style>
  .circle{
    background: conic-gradient(#69bdea 1%, #e6e6e6 1%);
    position: relative;
  }

  .circle::before{
    content: '';
    background-color: #075985;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
  }
</style>

<script>
  import { progress } from '@/store/store'

  const progressBar = document.querySelector('.circle') as HTMLDivElement;
  const percentage = document.querySelector('#percentage') as HTMLSpanElement;
  const text = document.querySelector('#stimuli-left') as HTMLHeadingElement;

  function updateProgress () {
    if(!progressBar || !percentage) return;

    progress.subscribe(value  => { 
      const actualPercentage = Math.trunc(value*100/38);
      percentage.textContent = actualPercentage.toString()+"%";
      progressBar.style.background = `conic-gradient(#69bdea ${actualPercentage}%, #e6e6e6 ${actualPercentage}%`
      text.textContent = `Estimulos ${value}/38`

    })

  }

  updateProgress();
  

</script>