---
import angry from '@/assets/reactions/angry.png'
import happy from '@/assets/reactions/happy.png'
import cry from '@/assets/reactions/cry.png'
import surprised from '@/assets/reactions/surprised.png'
import neutral from '@/assets/reactions/neutral.png'
import funny from '@/assets/reactions/funny.png'
import charming from '@/assets/reactions/charming.png'
import scared from '@/assets/reactions/scared.png'

const items = [
        {id: "happy", src: happy.src},
        {id: "funny", src: funny.src},
        {id: "charming", src: charming.src},
        {id: "neutral", src: neutral.src},
        {id: "surprised", src: surprised.src},
        {id: "scared", src: scared.src},
        {id: "cry", src: cry.src},
        {id: "angry", src: angry.src}
    ]

---

<reaction-bar id="emoji-picker" class="flex justify-between gap-4 duration-150 ease-in-out">
    <div id="img-container" class="flex duration-0"> 
            {items.map((item) => {
                return  <picture class="rounded-full">
                            <img class="object-cover h-10 w-10 md:hover:scale-125 ease-in-out duration-300 grayscale cursor-pointer md:hover:grayscale-0" 
                                src={item.src} alt={item.id} data-reaction={item.id} draggable="false"/>
                        </picture>  
                })                                      
            }
        
    </div>
</reaction-bar>

<script>
    import { selectReaction, selectedReaction } from '@/store/store'
    import { isMobile } from '@/lib/utils';

    class ReactionBar extends HTMLElement {
        constructor(){
            super();

            const images = this.querySelectorAll(
                "[data-reaction]"
            ) as NodeListOf<HTMLImageElement>;

            images.forEach((img) => {
                img.addEventListener("click", () => {
                    if(img.dataset.reaction) {
                        selectReaction(img.dataset.reaction)
                    }  
                });
            });

            selectedReaction.subscribe(value => {
                images.forEach(img => {
                    const reaction = img.dataset.reaction;
                    if(!reaction) return;
                    
                    if(reaction === value){
                        img.classList.remove("grayscale");
                        if(isMobile()){
                            img.classList.add("scale-125");
                        }
                    }else{
                        img.classList.add('grayscale')
                        if(isMobile()){
                            img.classList.remove("scale-125");
                        }
                    }
                })
            })
        }
    }

    customElements.define('reaction-bar', ReactionBar);

</script>

